langchain
langchain-community 
langchain-groq
langchain-openai
pymupdf 
pinecone
langchain-pinecone
fastapi 
langchain-google-genai
pydantic
uvicorn
streamlit
python-magic
python-docx
aiofiles
python-multipart 